<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://www.komar.de/media/catalog/product/cache/5/image/9df78eab33525d08d6e5fb8d27136e95/I/A/IADX8-062.jpg" alt="" height="200px" srcset="">
    </div>
    <div class="big-card__tittle">
        <h1><a href="#">Saiu a nova versao do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sollicitudin nisl eget mi ornare tincidunt. Sed varius justo vel massa mollis lacinia. Nulla sed libero eu dui rhoncus lacinia a in arcu. Donec quis mollis sem.
            </a>
        </p>
    </div>
</div>